body {
  font-family: Poppins, sans-serif;
  background: #f8efe2;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h2 {
  color: #800020;
}

.form-box,
.social-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background: #800020;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th {
  background: #800020;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-top: 1px solid #eee;
}
